body {
  margin: 0;
  font-family: Arial, sans-serif;
}

textarea {
  width: 100%;
  height: 100vh;
  padding: 20px;
  font-size: 18px;
  box-sizing: border-box;
  border: none;
  outline: none;
  resize: none;
  line-height: 1.5;
}

/* Стили для темной темы */
@media (prefers-color-scheme: dark) {
  textarea {
    background-color: #000000;
    color: #ffffff;
  }
}

/* Стили для светлой темы */
@media (prefers-color-scheme: light) {
  textarea {
    background-color: #ffffff;
    color: #000000;
  }
}

.dark-theme {
  background-color: #000000;
  color: #ffffff;
}

